*{
    margin: 0px;
    font-family: 'Arial';
}

.header{
    display: block;
    width: 100%;
    height: 40px;
    background-color: #414141;
}

.in-header{
    align-items: center;
    display: block;
    width: 1000px;
    height: 100%;
}

.navitems li{
    display: block;
    padding: 20px;
    text-align: center;
    height: 100%;
    float: left;
    overflow: hidden;
}

.navitems li a{
    text-decoration: none;
    color: #FFFFFF;
}